.header{
    display: flex;
    background: linear-gradient(#6616fc, #f394d3);
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 80px;
}

.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 45px;
    height: 45px;
}

.nav-options{
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    list-style-type: none;
}

.mobile-option{
    display: none;
}

.mobile-menu{
    display: none;
}

.option :hover{
    color: white;
}

.active{
    color: green !important;
    border-bottom: 2px solid green;
}


.nav-options a{
    color: aliceblue;    
}

.signin-up{
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
}

.sign-in{
    padding-right: 50px;
    align-self: center;
}

.sign-in :hover{
    color: white;
}

.signup-btn{
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    background: rgb(222, 9, 241);
    color: white;
    cursor: pointer;
    align-items: center;
}

ul a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 648px){
    .header{
        padding: 0px 10px;
    }

    .logo{
        width: 45px;
        height: 45px;
    }

    .nav-options{
        display: flex;
        width: 100%;
        height: 350px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
    }

    .nav-options.active{
        background: #23235c;
        left: 0;
        opacity: 0.9;
        transition: all 0.5s ease;
        z-index: 1;
        align-content: center;
        padding-left: 0px;
    }

    .menu-icon{
        width: 45px;
        height: 45px;
    }

    .option{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
        font-size: 1.2rem;
    }

    .sign-up{
        display: none;
    }

    .mobile-menu{
        display: block;
    }
    .option:hover{
        background-color: #f394d3;
    }
}