@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 300;

}

.home, .reports, .products{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px auto; */
  background-color: #121246;
  height: 100%;
}

.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
}

.container .title{
  color: whitesmoke;
  font-size: 2rem;
  margin: 10px 0;
}

.title h1{
  font-size: 3rem;
  text-align: center;
}

.book-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book{
  width: calc(100%/3.3);
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  border-radius: 5px;
  color: aliceblue;
}

.qr-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  width: 50%;
  font-size: 1.3rem;
}
.input-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group input, button{
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.3rem;
  padding: 3px 5px;
}

.book h3{
  font-size: 2rem;
  padding: 5px 0;
}

.book h4{
  font-size: 1.5rem;
}

.book .img{
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
}

.loader{
  width: 100vw;
  height: 100vh;
}

img{
  width: 100%;
  height: 400px;
}

.qr{
  background: white;
  padding: 16px;
  margin: 0 auto;
  width: 300px;
  height:300px;
}

.qr-name h3{
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 5px 0;
}
.rank{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.btn{
  padding: 10px 10px;
  border: 1px solid #800000;
  border-radius: 3px;
  width: fit-content;
}
@media (max-width: 648px){
  .book{
    width: 90%;

  }

  form{
    width: 100%;
    margin: 0 18px;
  }

  .book-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}